@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h0 class="display-4">Welcome</h0>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
